USE [master]
GO
/****** Object:  Database [PayBankDB]    Script Date: 12/12/2025 6:16:44 PM ******/
CREATE DATABASE [PayBankDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PayBankDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PayBankDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PayBankDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PayBankDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PayBankDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PayBankDB]
GO
/****** Object:  Schema [accounting]    Script Date: 12/12/2025 6:16:44 PM ******/
CREATE SCHEMA [accounting]
GO
/****** Object:  Schema [auth]    Script Date: 12/12/2025 6:16:44 PM ******/
CREATE SCHEMA [auth]
GO
/****** Object:  Schema [base]    Script Date: 12/12/2025 6:16:44 PM ******/
CREATE SCHEMA [base]
GO
/****** Object:  Schema [checkout]    Script Date: 12/12/2025 6:16:44 PM ******/
CREATE SCHEMA [checkout]
GO
/****** Object:  Schema [config]    Script Date: 12/12/2025 6:16:44 PM ******/
CREATE SCHEMA [config]
GO
/****** Object:  UserDefinedFunction [accounting].[fn_get_user_balance]    Script Date: 12/12/2025 6:16:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [accounting].[fn_get_user_balance]
(
    @pUserId INT
)
RETURNS BIGINT
AS
BEGIN
    DECLARE @vBalance BIGINT;

    SELECT TOP 1 
        @vBalance = end_balance
    FROM accounting.balance
    WHERE user_id = @pUserId
    ORDER BY id DESC;

    RETURN ISNULL(@vBalance, 0);
END
GO
/****** Object:  UserDefinedFunction [base].[fn_response_code_num_get_by_code]    Script Date: 12/12/2025 6:16:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [base].[fn_response_code_num_get_by_code]
(
	@pCode VARCHAR(100)
)
RETURNS INT
AS
BEGIN
    DECLARE @vResult INT;

    SELECT @vResult = code_num
	FROM [base].[response_code]
	WHERE code = @pCode

    RETURN @vResult;
END;
GO
/****** Object:  Table [config].[service]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [config].[service](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[category_id] [int] NOT NULL,
	[image_file_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[entity_user]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[entity_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [varchar](50) NOT NULL,
	[mobile] [varchar](20) NOT NULL,
	[email] [varchar](30) NOT NULL,
	[password_hash] [nvarchar](max) NOT NULL,
	[role_id] [int] NOT NULL,
	[reg_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [checkout].[operation]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [checkout].[operation](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reg_date] [datetime] NOT NULL,
	[amount] [bigint] NOT NULL,
	[status] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
	[provider_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [checkout].[fn_get_operation]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   FUNCTION [checkout].[fn_get_operation]( @pId INT )
RETURNS TABLE
AS
RETURN
(
    SELECT 
         O.[id]
        ,O.[reg_date] AS RegDate
        ,O.[amount]
        ,O.[status]
        ,EU.[user_name] AS UserName
        ,S.[name] AS ServiceName
        ,O.[provider_id] AS ProviderId
    FROM [checkout].[operation] O
    LEFT JOIN [auth].[entity_user] EU ON EU.id = O.[user_id]
    LEFT JOIN [config].[service] S ON S.id = O.service_id
	WHERE O.id = @pId
);
GO
/****** Object:  Table [config].[category]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [config].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [config].[fn_get_services]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [config].[fn_get_services]()
RETURNS TABLE
AS
RETURN
(
    SELECT
        s.id,
        s.name,
        s.category_id AS CategoryId,
        c.name AS CategoryName,
        s.image_file_name AS ImageFileName
    FROM [config].[service] s
    LEFT JOIN [config].[category] c ON c.id = s.category_id
	WHERE s.id != 4
);
GO
/****** Object:  UserDefinedFunction [config].[fn_get_categories]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [config].[fn_get_categories]()
RETURNS TABLE
AS
RETURN
(
    SELECT
        [id],
		[name]
    FROM [config].[category]
	WHERE id != 2
);
GO
/****** Object:  UserDefinedFunction [config].[fn_get_category_by_id]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [config].[fn_get_category_by_id]
(
    @pId INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT *
    FROM [config].[category]
    WHERE id = @pId
);
GO
/****** Object:  UserDefinedFunction [config].[fn_get_service_by_id]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [config].[fn_get_service_by_id]
(
    @pId INT
)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        s.id AS Id,
        s.name AS Name,
        s.category_id AS CategoryId,
        c.name AS CategoryName,
        s.image_file_name AS ImageFileName
    FROM [config].[service] s
    INNER JOIN [config].[category] c ON s.category_id = c.id
    WHERE s.id = @pId
);
GO
/****** Object:  UserDefinedFunction [checkout].[fn_get_operations]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [checkout].[fn_get_operations]()
RETURNS TABLE
AS
RETURN
(
    SELECT 
         O.[id]
        ,O.[reg_date] AS RegDate
        ,O.[amount]
        ,O.[status]
        ,EU.[user_name] AS UserName
        ,S.[name] AS ServiceName
        ,O.[provider_id] AS ProviderId
    FROM [checkout].[operation] O
    LEFT JOIN [auth].[entity_user] EU ON EU.id = O.[user_id]
    LEFT JOIN [config].[service] S ON S.id = O.service_id
);
GO
/****** Object:  Table [accounting].[balance]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [accounting].[balance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[begin_balance] [bigint] NOT NULL,
	[end_balance] [bigint] NOT NULL,
	[amount] [bigint] NOT NULL,
	[operation_id] [int] NOT NULL,
	[reg_date] [datetime] NOT NULL,
	[debit] [int] NULL,
	[credit] [int] NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [auth].[entity_role]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [auth].[entity_role](
	[id] [int] NOT NULL,
	[name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [base].[response_code]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [base].[response_code](
	[code] [varchar](100) NOT NULL,
	[code_num] [int] NULL,
 CONSTRAINT [PK_response_code] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [accounting].[balance] ON 

INSERT [accounting].[balance] ([id], [begin_balance], [end_balance], [amount], [operation_id], [reg_date], [debit], [credit], [user_id]) VALUES (1, 0, 70085, 70085, 1, CAST(N'2025-12-11T20:32:10.367' AS DateTime), 0, 1, 2)
INSERT [accounting].[balance] ([id], [begin_balance], [end_balance], [amount], [operation_id], [reg_date], [debit], [credit], [user_id]) VALUES (2, 70085, 67285, 2800, 2, CAST(N'2025-12-11T20:39:42.530' AS DateTime), 1, 0, 2)
INSERT [accounting].[balance] ([id], [begin_balance], [end_balance], [amount], [operation_id], [reg_date], [debit], [credit], [user_id]) VALUES (3, 67285, 61485, 5800, 3, CAST(N'2025-12-11T20:40:08.197' AS DateTime), 1, 0, 2)
SET IDENTITY_INSERT [accounting].[balance] OFF
GO
INSERT [auth].[entity_role] ([id], [name]) VALUES (1, N'Admin')
INSERT [auth].[entity_role] ([id], [name]) VALUES (2, N'User')
GO
SET IDENTITY_INSERT [auth].[entity_user] ON 

INSERT [auth].[entity_user] ([id], [user_name], [mobile], [email], [password_hash], [role_id], [reg_date]) VALUES (2, N'Sasco Maxim', N'069783512', N'maxim@gmail.com', N'6078c0b47ee787cf22026d6d542d77005e13a92bf829722b1753c7f7b52129a4', 2, CAST(N'2025-12-10T20:31:26.310' AS DateTime))
INSERT [auth].[entity_user] ([id], [user_name], [mobile], [email], [password_hash], [role_id], [reg_date]) VALUES (3, N'Admin', N'069888888', N'admin@gmail.com', N'32ea054bcef820da1aa2fa72afb0a86ecf8e6d51c1f0f199cca548255587eb4f', 1, CAST(N'2025-12-10T20:36:21.387' AS DateTime))
SET IDENTITY_INSERT [auth].[entity_user] OFF
GO
INSERT [base].[response_code] ([code], [code_num]) VALUES (N'SUCCESS', 0)
INSERT [base].[response_code] ([code], [code_num]) VALUES (N'NOT_FOUND', 1)
INSERT [base].[response_code] ([code], [code_num]) VALUES (N'DATABASE_ERROR', 2)
GO
SET IDENTITY_INSERT [checkout].[operation] ON 

INSERT [checkout].[operation] ([id], [reg_date], [amount], [status], [user_id], [service_id], [provider_id]) VALUES (1, CAST(N'2025-12-11T20:32:10.353' AS DateTime), 70085, 1, 2, 4, 0)
INSERT [checkout].[operation] ([id], [reg_date], [amount], [status], [user_id], [service_id], [provider_id]) VALUES (2, CAST(N'2025-12-11T20:39:42.520' AS DateTime), 2800, 1, 2, 2, 69783513)
INSERT [checkout].[operation] ([id], [reg_date], [amount], [status], [user_id], [service_id], [provider_id]) VALUES (3, CAST(N'2025-12-11T20:40:08.193' AS DateTime), 5800, 1, 2, 2, 69783513)
SET IDENTITY_INSERT [checkout].[operation] OFF
GO
SET IDENTITY_INSERT [config].[category] ON 

INSERT [config].[category] ([id], [name]) VALUES (1, N'Telefonia mobilă')
INSERT [config].[category] ([id], [name]) VALUES (2, N'Alimentare')
INSERT [config].[category] ([id], [name]) VALUES (3, N'Servicii comunale')
SET IDENTITY_INSERT [config].[category] OFF
GO
SET IDENTITY_INSERT [config].[service] ON 

INSERT [config].[service] ([id], [name], [category_id], [image_file_name]) VALUES (2, N'Orange', 1, N'44881e93-4686-4320-b7a9-c406f7085a63.jpg')
INSERT [config].[service] ([id], [name], [category_id], [image_file_name]) VALUES (3, N'Moldcell', 1, N'e1a03e3f-e652-4380-b88d-157a3b766a0e.png')
INSERT [config].[service] ([id], [name], [category_id], [image_file_name]) VALUES (4, N'Alimentare', 2, N'NoImage.jpg')
SET IDENTITY_INSERT [config].[service] OFF
GO
/****** Object:  Index [UQ_response_code_code_num]    Script Date: 12/12/2025 6:16:45 PM ******/
ALTER TABLE [base].[response_code] ADD  CONSTRAINT [UQ_response_code_code_num] UNIQUE NONCLUSTERED 
(
	[code_num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [accounting].[balance] ADD  DEFAULT (getdate()) FOR [reg_date]
GO
ALTER TABLE [accounting].[balance] ADD  DEFAULT ((0)) FOR [debit]
GO
ALTER TABLE [accounting].[balance] ADD  DEFAULT ((0)) FOR [credit]
GO
ALTER TABLE [auth].[entity_user] ADD  DEFAULT (getdate()) FOR [reg_date]
GO
ALTER TABLE [checkout].[operation] ADD  DEFAULT (getdate()) FOR [reg_date]
GO
ALTER TABLE [checkout].[operation] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [accounting].[balance]  WITH CHECK ADD  CONSTRAINT [FK_balance_operation_id] FOREIGN KEY([operation_id])
REFERENCES [checkout].[operation] ([id])
GO
ALTER TABLE [accounting].[balance] CHECK CONSTRAINT [FK_balance_operation_id]
GO
ALTER TABLE [accounting].[balance]  WITH CHECK ADD  CONSTRAINT [FK_balance_user_id] FOREIGN KEY([user_id])
REFERENCES [auth].[entity_user] ([id])
GO
ALTER TABLE [accounting].[balance] CHECK CONSTRAINT [FK_balance_user_id]
GO
ALTER TABLE [auth].[entity_user]  WITH CHECK ADD  CONSTRAINT [FK_user_role] FOREIGN KEY([role_id])
REFERENCES [auth].[entity_role] ([id])
GO
ALTER TABLE [auth].[entity_user] CHECK CONSTRAINT [FK_user_role]
GO
ALTER TABLE [checkout].[operation]  WITH CHECK ADD  CONSTRAINT [FK_operation_service_id] FOREIGN KEY([service_id])
REFERENCES [config].[service] ([id])
GO
ALTER TABLE [checkout].[operation] CHECK CONSTRAINT [FK_operation_service_id]
GO
ALTER TABLE [checkout].[operation]  WITH CHECK ADD  CONSTRAINT [FK_operation_user_id] FOREIGN KEY([user_id])
REFERENCES [auth].[entity_user] ([id])
GO
ALTER TABLE [checkout].[operation] CHECK CONSTRAINT [FK_operation_user_id]
GO
ALTER TABLE [config].[service]  WITH CHECK ADD  CONSTRAINT [FK_service_category] FOREIGN KEY([category_id])
REFERENCES [config].[category] ([id])
GO
ALTER TABLE [config].[service] CHECK CONSTRAINT [FK_service_category]
GO
/****** Object:  StoredProcedure [auth].[sp_entity_user_create]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [auth].[sp_entity_user_create]
(
    @pUsername VARCHAR(50),
    @pEmail VARCHAR(30),
    @pMobile VARCHAR(20),
    @pPasswordHash NVARCHAR(MAX),
    @pResponseCode INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM [auth].[entity_user] WHERE user_name = @pUsername)
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('USER_NAME_EXISTS');
        RETURN;
    END;

    IF EXISTS (SELECT 1 FROM [auth].[entity_user] WHERE email = @pEmail)
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('ALREADY_EXISTS');
        RETURN;
    END;

    INSERT INTO [auth].[entity_user] (user_name, mobile, email, password_hash, role_id)
    VALUES (@pUsername, @pMobile, @pEmail, @pPasswordHash, 2);

    SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('SUCCESS');
END;
GO
/****** Object:  StoredProcedure [auth].[sp_entity_user_login]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [auth].[sp_entity_user_login]
(
    @pUserEmail VARCHAR(30),
    @pPasswordHash NVARCHAR(MAX),
    @pResponseCode INT OUTPUT
)
AS
BEGIN

    IF EXISTS (
        SELECT 1
        FROM [auth].[entity_user] u
        WHERE u.email = @pUserEmail
          AND u.password_hash = @pPasswordHash
    )
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('SUCCESS');

        SELECT 
            u.id AS Id,
            u.user_name AS Username,
            u.password_hash AS PasswordHash,
            u.reg_date AS RegDate,
            r.name AS RoleName,
            u.email AS Email,
            u.mobile AS Mobile
        FROM [auth].[entity_user] u
        INNER JOIN [auth].[entity_role] r ON u.role_id = r.id
        WHERE u.email = @pUserEmail
          AND u.password_hash = @pPasswordHash;
    END
    ELSE
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('INVALID_CREDENTIALS');
    END
END;
GO
/****** Object:  StoredProcedure [checkout].[sp_service_pay]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [checkout].[sp_service_pay]
(
    @pUserId INT,
    @pServiceId INT,
    @pAmount BIGINT,
    @pProviderId INT,
    @pResponseCode INT OUTPUT,
    @pOpId INT OUTPUT
)
AS
BEGIN

    DECLARE 
        @vLastBalance BIGINT = 0,
        @vNewBalance BIGINT = 0;

    IF NOT EXISTS (SELECT 1 FROM [auth].[entity_user] WHERE id = @pUserId)
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('AUTHOR_NOT_FOUND');
        RETURN;
    END

    IF NOT EXISTS (SELECT 1 FROM [config].[service] WHERE id = @pServiceId)
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('CATEGORY_NOT_FOUND');
        RETURN;
    END


    INSERT INTO [checkout].[operation]
    (
        amount, status, [user_id], service_id, provider_id
    )
    VALUES
    (
        @pAmount, 0, @pUserId, @pServiceId, @pProviderId
    );

    SET @pOpId = SCOPE_IDENTITY();


    SELECT TOP 1 @vLastBalance = end_balance
    FROM [accounting].[balance]
    WHERE user_id = @pUserId
    ORDER BY id DESC;


    IF (@vLastBalance < @pAmount)
    BEGIN
        UPDATE [checkout].[operation]
        SET status = 2
        WHERE id = @pOpId;

        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('NOT_ENOUGH_AMOUNT');
        RETURN;
    END


    SET @vNewBalance = @vLastBalance - @pAmount;

    INSERT INTO [accounting].[balance]
    (
        begin_balance, end_balance, amount, operation_id, debit, credit, user_id
    )
    VALUES
    (
        @vLastBalance,        
        @vNewBalance,        
        @pAmount,            
        @pOpId,               
        1,             
        0,                   
        @pUserId
    );

    UPDATE [checkout].[operation]
    SET status = 1
    WHERE id = @pOpId;

    SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('SUCCESS');
END
GO
/****** Object:  StoredProcedure [checkout].[sp_topup_pay]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [checkout].[sp_topup_pay]
(
    @pUserId INT,
    @pAmount BIGINT,  
    @pResponseCode INT OUTPUT,
    @pOpId INT OUTPUT
)
AS
BEGIN
    DECLARE 
        @vLastBalance BIGINT = 0,
        @vNewBalance BIGINT = 0;

    IF NOT EXISTS (SELECT 1 FROM [auth].[entity_user] WHERE id = @pUserId)
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('AUTHOR_NOT_FOUND');
        RETURN;
    END

    INSERT INTO [checkout].[operation]
    (
        amount,
        [status],
        [user_id],
		service_id, 
		provider_id
    )
    VALUES
    (
        @pAmount,
        0,
        @pUserId,
        4,
		0
    );

    SET @pOpId = SCOPE_IDENTITY();

    SELECT TOP 1 @vLastBalance = end_balance
    FROM [accounting].[balance]
    WHERE [user_id] = @pUserId
    ORDER BY id DESC;


    SET @vNewBalance = @vLastBalance + @pAmount;


    INSERT INTO [accounting].[balance]
    (
        begin_balance,
        end_balance,
        amount,
        operation_id,
        debit,
        credit,
        [user_id]
    )
    VALUES
    (
        @vLastBalance,
        @vNewBalance,
        @pAmount,
        @pOpId,
        0,
        1,
        @pUserId
    );

    UPDATE [checkout].[operation]
    SET status = 1
    WHERE id = @pOpId;

    SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('SUCCESS');
END
GO
/****** Object:  StoredProcedure [config].[sp_category_add]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [config].[sp_category_add]
(
    @pName NVARCHAR(100),
    @pResponseCode INT OUTPUT
)
AS
BEGIN

    IF EXISTS (SELECT 1 FROM [config].[category] WHERE name = @pName)
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('ALREADY_EXISTS');
        RETURN;
    END;

    INSERT INTO [config].[category] (name)
    VALUES (@pName);

    SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('SUCCESS');
END;
GO
/****** Object:  StoredProcedure [config].[sp_category_delete]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [config].[sp_category_delete]
(
    @pId INT,
    @pResponseCode INT OUTPUT
)
AS
BEGIN

    IF NOT EXISTS (SELECT 1 FROM [config].[category] WHERE id = @pId)
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('NOT_FOUND');
        RETURN;
    END;

    IF EXISTS (SELECT 1 FROM [config].[service] WHERE category_id = @pId)
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('FOREIGN_KEY');
        RETURN;
    END;

    DELETE FROM [config].[category]
    WHERE id = @pId;

    SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('SUCCESS');
END;
GO
/****** Object:  StoredProcedure [config].[sp_service_add]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [config].[sp_service_add]
(
    @pName NVARCHAR(100),
    @pCategoryId INT,
    @pImageFileName VARCHAR(50),
    @pResponseCode INT OUTPUT
)
AS
BEGIN

    IF NOT EXISTS (
        SELECT 1
        FROM [config].[category]
        WHERE id = @pCategoryId
    )
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('CATEGORY_NOT_FOUND');
        RETURN;
    END;

    IF EXISTS (
        SELECT 1
        FROM [config].[service]
        WHERE name = @pName
          AND category_id = @pCategoryId
    )
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('ALREADY_EXISTS');
        RETURN;
    END;

    INSERT INTO [config].[service] (name, category_id, image_file_name)
    VALUES (@pName, @pCategoryId, @pImageFileName);

    SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('SUCCESS');
END;
GO
/****** Object:  StoredProcedure [config].[sp_service_delete]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [config].[sp_service_delete]
(
    @pId INT,
    @pResponseCode INT OUTPUT,
    @pImageFileName NVARCHAR(50) OUTPUT
)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM [config].[service] WHERE id = @pId)
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('NOT_FOUND');
        SET @pImageFileName = NULL;
        RETURN;
    END;

    SELECT @pImageFileName = image_file_name
    FROM [config].[service]
    WHERE id = @pId;

    DELETE FROM [config].[service]
    WHERE id = @pId;

    SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('SUCCESS');
END;
GO
/****** Object:  StoredProcedure [config].[sp_service_update]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [config].[sp_service_update]
(
    @pId INT,
    @pName NVARCHAR(100),
    @pCategoryId INT,
    @pImageFileName VARCHAR(50),
    @pResponseCode INT OUTPUT
)
AS
BEGIN
    IF NOT EXISTS (SELECT 1 FROM [config].[service] WHERE id = @pId)
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('NOT_FOUND');
        RETURN;
    END;

    IF NOT EXISTS (SELECT 1 FROM [config].[category] WHERE id = @pCategoryId)
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('CATEGORY_NOT_FOUND');
        RETURN;
    END;

    IF EXISTS (
        SELECT 1 
        FROM [config].[service] 
        WHERE name = @pName 
          AND category_id = @pCategoryId
          AND id <> @pId
    )
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('ALREADY_EXISTS');
        RETURN;
    END;

    UPDATE [config].[service]
    SET
        name = @pName,
        category_id = @pCategoryId,
        image_file_name = @pImageFileName
    WHERE id = @pId;

    SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('SUCCESS');
END;
GO
/****** Object:  StoredProcedure [config].[sp_update_categorie]    Script Date: 12/12/2025 6:16:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [config].[sp_update_categorie]
(
    @pId INT,
    @pName NVARCHAR(100),
    @pResponseCode INT OUTPUT
)
AS
BEGIN

    IF NOT EXISTS (SELECT 1 FROM [config].[category] WHERE id = @pId)
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('NOT_FOUND');
        RETURN;
    END;

    IF EXISTS (
        SELECT 1 
        FROM [config].[category] 
        WHERE name = @pName 
          AND id <> @pId
    )
    BEGIN
        SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('ALREADY_EXISTS');
        RETURN;
    END;

    UPDATE [config].[category]
    SET name = @pName
    WHERE id = @pId;

    SET @pResponseCode = [base].[fn_response_code_num_get_by_code]('SUCCESS');
END;
GO
USE [master]
GO
